<link rel="stylesheet" href="/css/sign_in.css">
<div class="sign-in-container">

    <h1>Sign In</h1>
   
    <form action="/users/create-session" method="POST">

        <input type="email" name="email" placeholder="email" required><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" value="sign-in" style="width:100px ;">
    </form>

    <p>
        <small style="font-family:sans-serif ;">
            Sign-in with Google
        </small>
        <br>
        <a href="/users/auth/google" style="color: black; font-size: 1.5rem;"><img src="https://img.icons8.com/fluency/48/000000/google-logo.png"/></a>
       
    </p>

    
    



</div>
